{% extends 'base.html.twig' %}

{% block title %}Available organisations{% endblock %}

{% block nav %}
    {% include 'volunteer/navbar.html.twig' %}
{% endblock %}

{% block body %}
    <div class="d-flex justify-content-center">
        {{ ux_map(organisations_map, { style: 'height: 600px', id:"organisation-map", class: 'w-75 m-4' }) }}
    </div>
    <div class="d-flex flex-wrap justify-content-center position-relative">
        {% for organisation in organisations %}
            <!-- Organisation Card -->
            <div id="card-container-{{ organisation.id }}" class="card m-4 organisation-card" style="width: 18rem;" data-bs-toggle="modal"
                 data-bs-target="#modal-{{ organisation.id }}">
                <div class="position-relative">
                    <img id="match-button-filled-{{ organisation.id }}" class="" src="{{ asset('build/images/website/star-filled.svg') }}" alt="match button filled">
                    <img id="match-button-empty-{{ organisation.id }}" class="" src="{{ asset('build/images/website/star-empty.svg') }}" alt="match button empty">
                    <img class="card-img-top" src="{{ organisation.activityPictureName }}" alt="Organisation activity picture">
                </div>
                <div id="card-body-{{ organisation.id }}" class="card-body">
                    <h5 class="card-title text-center">{{ organisation.name }}</h5>
                    <p class="card-text text-justify">{{ organisation.presentation | slice(0, 200) ~ '...' }}</p>
                    <div class="d-flex flex-wrap justify-content-around">
                        {% for keyword in organisation.keywords %}
                            <div class="m-1">{{ keyword }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        // Star buttons
        function revealStar(Id1, Id2) {
            const btn1 = document.getElementById(Id1);
            const btn2 = document.getElementById(Id2);
            if (btn1.classList.contains("d-none")) {
                btn1.classList.remove("d-none");
                btn2.classList.add("d-none");
            } else {
                btn2.classList.remove("d-none");
                btn1.classList.add("d-none");
            }
        }

        //AJAX Call to create or delete matching
        function matchingActions(volunteerId, action) {
            const data = {
                'volunteerId': volunteerId,
                'organisationId': {{ app.user.organisation.id }},
                'action': action,
            };
            fetch('{{ path('matching_management') }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
                .then(response => response.json())
                .then(responseData => {
                    console.log(responseData);
                })
                .catch(error => {
                    console.error("Error when fetching the data:", error);
                });
        }
        {% for organisation in organisations %}

        function matchingManagement(organisationId) {
            let cardContainer = document.getElementById("card-container-" + volunteerId);
            cardContainer.removeAttribute('data-bs-toggle');
            cardContainer.addEventListener('click', (e) => {
                if (e.target.classList.contains("match-star")) {
                    revealStar("match-button-empty-" + volunteerId, "match-button-filled-" + volunteerId);
                    if (e.target.id === "match-button-empty-" + volunteerId) {
                        matchingActions(volunteerId, "create");
                    } else if (e.target.id === "match-button-filled-" + volunteerId) {
                        matchingActions(volunteerId, "delete");
                    } else {
                    }
                } else {
                    cardContainer.setAttribute('data-bs-toggle', 'modal');
                    let cardBody = document.getElementById("card-body-" + volunteerId);
                    cardBody.click();
                }
                cardContainer.removeAttribute('data-bs-toggle');
            })
        }
        matchingManagement({{volunteer.id }});
        {% endfor %}
    </script>
{% endblock %}
