<nav id="home-nav" class="navbar sticky-top navbar-expand-lg">
  <div class="container-fluid px-5">
    <div class="navbar-brand p-0 m-0">
      <a href={{ path('app_home') }}>
        <img class="rounded-circle p-1" src="{{ asset('build/images/website/NUSAvolunteer_logo_final.svg') }}" alt="NUSAvolunteer logo" width="60" height="auto">
      </a>
    </div>
    {% if not app.user %}
      <a href="{{ path('app_register') }}">
        <div class="d-lg-none text-black-50 text-decoration-underline">Sign in here!</div>
      </a>
    {% endif %}
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse home-navbar-collapse" id="navbarSupportedContent">
      <div class="navbar-nav me-auto mb-2 mb-lg-0 w-100 d-flex justify-content-end align-items-center">
        <div class="nav-item">
          <a class="nav-link active nav-buttons" aria-current="page"
            {% if app.user %}
              {% if app.user.organisation %}
                href="{{path('organisation_home')}}">
              {% else %}
                href="{{path('volunteer_home')}}">
              {% endif %}
              My space
            {% endif %}
          </a>
        </div>
        <div class="nav-item">
          <a class="nav-link active nav-buttons" aria-current="page"
            {% if app.user %}
              href="{{path('app_logout')}}">
              Logout
            {% else %}
              href="{{path('app_register')}}">
              Sign in
            {% endif %}
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
