{% extends 'base.html.twig' %}

{% block title %}Organisation creation page{% endblock %}

{% block nav %}
    {% include 'organisation/navbar.html.twig' %}
{% endblock %}

{% form_theme editForm 'bootstrap_5_layout.html.twig' %}
{% block body %}
    <div>
        <div class="available-height">
            <div class="h-50 d-flex flex-column justify-content-center align-items-center">
                <h1 class="text-center fw-bold pb-2 pt-5">My informations</h1>
                <h4 class="main-organisation-text text-center">Tell me more about your organisation</h4>
            </div>
            <div class="h-25 position-relative">
                <div id="scroll-down-mouse">
                    Let's get started!
                    <div>
                        <img src="{{ asset('build/images/website/mouse.png') }}" alt="mouse" width="50" height="auto">
                    </div>
                </div>
            </div>
        </div>
        <div>
            {{ form_start(editForm) }}
            <div data-aos="fade-right" class="w-75 w-lg-50 w-xxl-25 profile-form-row-container">
                {{ form_row(editForm.name) }}
            </div>
            <div data-aos="fade-left" class="w-75 w-lg-50 w-xxl-25 profile-form-row-container">
                {{ form_row(editForm.address) }}
            </div>
            <div data-aos="fade-left" class="w-75 w-lg-50 w-xxl-25 profile-form-row-container">
                {{ form_row(editForm.avatarFile) }}
            </div>
            <div data-aos="fade-right" class="w-75 w-lg-50 w-xxl-25 profile-form-row-container">
                {{ form_row(editForm.activityPictureName) }}
            </div>
            <div data-aos="fade-right" class="w-75 w-lg-50 w-xxl-25 profile-form-row-container">
                {{ form_row(editForm.representative) }}
            </div>
            <div data-aos="fade-left" class="w-75 w-lg-50 w-xxl-25 profile-form-row-container">
                {{ form_row(editForm.description) }}
            </div>
            <div data-aos="fade-right" class="w-75 w-lg-50 w-xxl-25 profile-form-row-container">
                {{ form_label(editForm.keywords) }}
                {{ form_errors(editForm.keywords) }}
                <ul id="organisation-keywords-list">
                    {% for keyword in editForm.keywords %}
                        <li class="my-3 position-relative">
                            {{ form_widget(keyword) }}
                            <span class="organisation-remove-item">
                                <i class="fa-solid fa-xmark"></i>
                            </span>
                        </li>
                    {% endfor %}
                    <li id="keyword-add-button" class="list-group-item mt-4 d-flex justify-content-center">
                        <div class="organisation-keyword-add">+</div>
                    </li>
                </ul>
            </div>
            <div data-aos="fade-left" class="w-75 w-lg-50 w-xxl-25 profile-form-row-container">
                {{ form_label(editForm.links) }}
                {{ form_errors(editForm.links) }}
                <ul id="organisation-links-list">
                    {% for link in editForm.links %}
                        <li class="my-3 position-relative">
                            {{ form_widget(link) }}
                            <span class="organisation-remove-item">
                                <i class="fa-solid fa-xmark"></i>
                            </span>
                        </li>
                    {% endfor %}
                    <li id="link-add-button" class="list-group-item mt-4 d-flex justify-content-center">
                        <div class="organisation-link-add">+</div>
                    </li>
                </ul>
            </div>
            {{ form_errors(editForm) }}
            <div class="d-flex mb-4">
                <div class="w-75"></div>
                <button class="validation-button" type="submit">Save</button>
            </div>
            {{ form_end(editForm) }}
        </div>
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        // Add a new keyword or link
        function addNewItem(addButton) {
            addButton.addEventListener("click", (event) => {
                const itemsList = event.target.closest('ul');
                const itemsListChildren = itemsList.children;
                const lastItem = itemsListChildren[itemsListChildren.length - 2];
                const lastItemValue = lastItem.querySelector("input").value;
                if (noSpaceNoEmpty(lastItemValue)) {
                    const newItem = lastItem.cloneNode(true);
                    let newItemInput = newItem.querySelector("input");
                    newItemInput.id = newInputId(lastItem);
                    newItemInput.name = newInputName(lastItem);
                    newItemInput.value = "";
                    lastItem.after(newItem);
                }
            })
        }

        function noSpaceNoEmpty(value) {
            const removeSpace = value.replace(/\s/g, '');
            return removeSpace.length;
        }

        function newInputId(lastKeyword) {
            const lastInputId = lastKeyword.querySelector("input").id;
            const lastIdNumber = lastInputId.match(/\d+$/)[0];
            const idBase = lastInputId.substring(0, lastInputId.length - lastIdNumber.length);
            const newIdNumber = parseInt(lastIdNumber) + 1;

            return `${idBase}${newIdNumber}`;
        }

        function newInputName(lastKeyword) {
            const lasInputName = lastKeyword.querySelector("input").name;
            const lastInputBracket = lasInputName.match(/\[(\d+)\]$/)[0];
            const nameBase = lasInputName.substring(0, lasInputName.length - lastInputBracket.length);
            const lastNameNumber = lasInputName.match(/\[(\d+)\]$/)[1];
            const newInputNumber = parseInt(lastNameNumber) + 1;

            return `${nameBase}[${newInputNumber}]`;
        }

        //Add a keyword
        const keywordAddButton = document.getElementById("keyword-add-button");
        addNewItem(keywordAddButton);
        //Add a link
        const linkAddButton = document.getElementById("link-add-button");
        addNewItem(linkAddButton);


        //Remove a keyword or link
        function removeItem(itemsList, itemType) {
            const removeIcons = itemsList.getElementsByClassName("organisation-remove-item");
            for (let i = 0; i < removeIcons.length; i++) {
                removeIcons[i].addEventListener("click", (event) => {
                    if (itemsList.children.length > 2) {
                        const item = event.target.closest("li");
                        item.remove();
                    }
                    // make it impossible to remove all the keywords or links
                    if (itemsList.children.length === 2) {
                        let newItem = document.createElement('input');
                        newItem.classList.add("my-3", "position-relative");
                        itemsList.prepend(newItem);
                        let newItemInput = document.createElement('input');
                        newItemInput.type = "text";
                        newItemInput.id = `organisation_${itemType}_0`;
                        newItemInput.name = `organisation[${itemType}][0]`;
                        newItemInput.value = "";
                        newItemInput.classList.add('form-control');
                        newItem.append(newItemInput);
                        let newRemoveContainer = document.createElement('span');
                        newRemoveContainer.classList.add("organisation-remove-link");
                        newRemoveContainer.append(newItem);
                        let NewRemoveIcon = document.createElement('i');
                        NewRemoveIcon.classList.add("fa-solid", "fa-xmark");
                        newRemoveContainer.append(NewRemoveIcon);
                    }
                })
            }
        }

        //Remove a keyword
        keywordAddButton.addEventListener("click", () => {
            let keywordsList = document.getElementById('organisation-keywords-list');
            removeItem(keywordsList, "keywords");
        })
        //Remove a link
        linkAddButton.addEventListener("click", () => {
            let linksList = document.getElementById('organisation-links-list');
            removeItem(linksList, "links");
        })
    </script>
{% endblock %}
