{% extends 'base.html.twig' %}

{% block title %}Organisation home page{% endblock %}

{% block nav %}
    {% include 'organisation/navbar.html.twig' %}
{% endblock %}

{% form_theme editForm 'bootstrap_5_layout.html.twig' %}
{% block body %}
<div id="edit-information-container">
    <section class="edit-information-title-section vh-100 d-flex justify-content-center align-items-center">
        <h1 class="text-center fw-bold pb-5 pt-5">My informations</h1>
        <div id="scroll-down-mouse">
            Tell me more about your organisation!
            <div>
                <img  src="{{ asset('build/images/website/mouse.png') }}" alt="mouse" width="50" height="auto">
            </div>
        </div>
    </section>
    <div>
        {{ form_start(editForm) }}
        {{ form_row(editForm.name) }}
        {{ form_row(editForm.address) }}
        {{ form_row(editForm.representative) }}
        {{ form_row(editForm.organisationPictureName) }}
        {{ form_row(editForm.activityPictureName) }}
        {{ form_row(editForm.description) }}
        {{ form_row(editForm.keywords) }}
        {{ form_row(editForm.links) }}
        {{ form_errors(editForm) }}
        <button type="submit">Save</button>
        {{ form_end(editForm) }}
    </div>
</div>
{% endblock %}
