{% extends 'base.html.twig' %}

{% block title %}Organisation home page{% endblock %}

{% block nav %}
    {% include 'organisation/navbar.html.twig' %}
{% endblock %}

{% block body %}
{% set organisation = user.organisation %}
{% for property in organisation %}
    {{ property|default("-") }}
{% endfor %}
<h3 class="my-5 text-center"> Hey {{ user.email }}!</h3>
<div class="d-flex flex-column align-items-center position-relative home-images-container">
    <img class="img-fluid rounded-circle object-fit-cover home-avatar-picture" src="{{ asset('build/images/user-avatars/msf-avatar.png') }}" alt="MSF Avatar" width="150" height="150">
    <img class="img-fluid rounded object-fit-cover user-background-picture" src="{{ asset('build/images/background-pictures/msf-back.jpg') }}" alt="MSF Background Picture">
</div>
<div class="d-flex justify-content-center mt-5">
    <div class="w-50 fs-5">
        <div class="mb-4">
            <div class="text-center fw-bold">Name</div>
            <div class="text-center">{{ organisation.name }}</div>
        </div>
        <div class="mb-4">
            <div class="text-center fw-bold">Address</div>
            <div class="text-center">{{ organisation.address }}</div>
        </div>
        <div class="mb-4">
            <div class="text-center fw-bold">Representative</div>
            <div class="text-center">{{ organisation.representative }}</div>
        </div>
        <div class="mb-4">
            <div class="text-center fw-bold">Description</div>
            <div class="text-justify">{{ organisation.description }}</div>
        </div>
        <div class="mb-4">
            <div class="text-center fw-bold">Keywords</div>
            <div class="d-flex justify-content-around">
                {% for keyword in organisation.keywords  %}
                <div>{{ keyword }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="mb-4">
            <div class="text-center fw-bold">Links</div>
            <div class="text-center">
                {% for link in organisation.links  %}
                    <div>{{ link }}</div>
                {% endfor %}
            </div>
        </div>
        <div class="my-5 d-flex justify-content-end">
            <a href={{ path('organisation_edit') }}>
                <button class="validation-button">Modify my profile</button>
            </a>
        </div>
    </div>
</div>
{% endblock %}