{% extends 'base.html.twig' %}

{% block title %}Organisation home page{% endblock %}

{% block nav %}
    {% include 'organisation/navbar.html.twig' %}
{% endblock %}
{% block body %}
    <h1 class="text-center fw-bold pb-5 pt-5">My informations</h1>
    <div class="d-flex justify-content-center mt-5">
        <div class="w-50 fs-5">
            <div class="d-flex justify-content-between pb-3">
                <div class="fw-bold">Name</div>
                <div>{{ organisation.name }}</div>
            </div>
            <div class="d-flex justify-content-between mb-4">
                <div class="fw-bold">Address</div>
                <div>{{ organisation.address }}</div>
            </div>
            <div class="d-flex justify-content-between mb-4">
                <div class="fw-bold">Representative</div>
                <div>{{ organisation.representative }}</div>
            </div>
            <div class="d-flex justify-content-between mb-4">
                <div class="fw-bold">Description</div>
                <div class="text-end">{{ organisation.description }}</div>
            </div>
            <div class="d-flex justify-content-between mb-4">
                <div class="fw-bold">Keywords</div>
                <div>
                    {% for keyword in organisation.keywords  %}
                    <div>{{ keyword }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="d-flex justify-content-between mb-4">
                <div class="fw-bold">Links</div>
                <div class="text-end">
                    {% for link in organisation.links  %}
                        <div>{{ link }}</div>
                    {% endfor %}
                </div>
            </div>
            <div class="mt-5 d-flex justify-content-end">
                <button class="validation-button">Modifier</button>
            </div>
        </div>
    </div>
{% endblock %}
