{% extends 'base.html.twig' %}

{% block title %}Organisation home page{% endblock %}

{% block nav %}
    {% include 'organisation/navbar.html.twig' %}
{% endblock %}

{% block body %}
    <div>
        {{ form_start(form, { 'attr': {'class': 'px-5 pt-2 green-light-bg'} }) }}
        <div class="d-flex justify-content-center">
            <div class="w-100">
                {{ form_row(form.description, {
                    'attr': {'class': 'w-75'},
                    'label_attr': {'class': 'fw-bold'}
                }) }}
            </div>
            <div class="w-100">
                {{ form_row(form.name, {
                    'attr': {'class': 'w-75'},
                    'label_attr': {'class': 'fw-bold'}
                }) }}
            </div>
        </div>
        {{ form_row(form.disponibilities, {
            'attr': {'class': 'd-flex justify-content-around w-100'},
            'label_attr': {'class': 'fw-bold'}
        }) }}
        {{ form_row(form._token) }}
        <div class="d-flex justify-content-center">
            <button type="submit" class="btn main-button main-volunteer-button mb-5 mt-3 fw-bold">Search</button>
            <button class="btn main-button mb-5 mt-3 fw-bold">
                <a href="{{ path("organisation_volunteers_search") }}">All</a>
            </button>
        </div>
        {{ form_end(form) }}
    </div>
    <div class="d-flex flex-wrap justify-content-center position-relative">
        {% if volunteers is empty %}
            <div class="d-flex flex-column justify-content-center align-items-center">
                <h5 class="fw-light my-5">No volunteer corresponding to your criteria...for the moment!</h5>
                <a href="{{ path("organisation_volunteers_search") }}">
                    <button type="submit" class="btn main-button main-volunteer-button mb-5 mt-3 fw-bold">
                        Find again
                    </button>
                </a>
            </div>
        {% endif %}
        {% for volunteer in volunteers %}
            {% set DISPONIBILITYCHOICES = constant('App\\Entity\\Volunteer::DISPONIBILITYCHOICES') %}
            <!-- Volunteer Card -->
            <div id="card-container-{{ volunteer.id }}" class="card m-4 volunteer-card" style="width: 18rem;" data-bs-toggle="modal" data-bs-target="#modal-{{ volunteer.id }}">
                <div class="position-relative">
                    <img id="match-button-filled-{{ volunteer.id }}" class="{{  starClasses[volunteer.id]['filled'] }}" src="{{ asset('build/images/website/star-filled.svg') }}" alt="match button filled">
                    <img id="match-button-empty-{{ volunteer.id }}" class="{{ starClasses[volunteer.id]['empty'] }}" src="{{ asset('build/images/website/star-empty.svg') }}" alt="match button empty">
                    <img class="card-img-top" src="{{ volunteer.pictureName }}" alt="Volunteer avatar image">
                </div>
                <div id="card-body-{{ volunteer.id }}" class="card-body">
                    <h5 class="card-title text-center">{{ volunteer.FullName }}</h5>
                    <p class="card-text text-justify">{{ volunteer.description | slice(0, 200) ~ '...' }}</p>
                    <div class="d-flex flex-wrap justify-content-around">
                        {% for keyword in volunteer.keywords %}
                            <div class="m-1">{{ keyword }}</div>
                        {% endfor %}
                    </div>
                </div>
            </div>
            <!-- Volunteer Modal -->
            <div class="modal fade" id="modal-{{ volunteer.id }}" tabindex="-1" role="dialog" aria-labelledby="{{ volunteer.id ~ '-' ~ volunteer.fullName|replace({' ': ''}) }}" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered" role="document">
                    <div class="modal-content">
                        <div class="modal-header border-0 justify-content-end">
                            <button type="button" class="close border-0 bg-inherit" data-bs-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true" class="fw-bold">&times;</span>
                            </button>
                        </div>
                        <div class="d-flex flex-column justify-content-center align-items-center p-3">
                            <img class="img-fluid rounded-circle object-fit-cover py-3" src="{{ asset('images/volunteer/' ~ pictureName) }}" alt="Volunteer avatar image" width="100" height="100">
                            <h5 class="volunteer-modal-title modal-title" id="{{ volunteer.id ~ '-' ~ volunteer.fullName|replace({' ': ''}) }}">{{ volunteer.fullName }}</h5>
                        </div>
                        <div class="p-3">
                            <h6 class="fw-bold">Disponibilities</h6>
                            <div class="ms-4 d-flex flex-column justify-content-start">
                                <ul class="list-group list-group-flush">
                                    {% for disponibility in volunteer.disponibilities %}
                                        <li>{{ DISPONIBILITYCHOICES[disponibility] }}</li>
                                    {% endfor %}
                                </ul>
                            </div>
                        </div>
                        <div class="p-3">
                            <h6 class="fw-bold">Description</h6>
                            <p class="text-justify">{{ volunteer.description }}</p>
                        </div>
                        <div class="p-3">
                            <h6 class="fw-bold">Interests</h6>
                            <div class="d-flex flex-column justify-content-start">
                                <div class="d-flex justify-content-around flex-wrap">
                                    {% for keyword in volunteer.keywords %}
                                        <div>{{ keyword }}</div>
                                    {% endfor %}
                                </div>
                            </div>
                        </div>
                        <div class="modal-footer mb-2">
                            <button type="button" class="btn" data-bs-dismiss="modal">Close</button>
                            <button type="button" class="btn main-button main-volunteer-button me-0">
                                <a href="" class="text-white">
                                    Chat
                                </a>
                            </button>
                        </div>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block javascripts %}
    <script>
        // Star buttons
        function revealStar(Id1, Id2) {
            const btn1 = document.getElementById(Id1);
            const btn2 = document.getElementById(Id2);
            if (btn1.classList.contains("d-none")) {
                btn1.classList.remove("d-none");
                btn2.classList.add("d-none");
            } else {
                btn2.classList.remove("d-none");
                btn1.classList.add("d-none");
            }
        }

        //AJAX Call to create or delete matching
        function matchingActions(volunteerId, action) {
            const data = {
                'volunteerId'   : volunteerId,
                'organisationId': {{ app.user.organisation.id }},
                'action'        : action,
            };
            fetch('{{ path('matching_management') }}', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(data)
            })
            .then(response => response.json())
            .then(responseData => {
                console.log(responseData);
            })
            .catch(error => {
                console.error("Error when fetching the data:", error);
            });

        }

        {% for volunteer in volunteers %}

            function matchingManagement(volunteerId) {
                let cardContainer = document.getElementById("card-container-" + volunteerId);
                cardContainer.removeAttribute('data-bs-toggle');
                cardContainer.addEventListener('click', (e) => {
                    if (e.target.classList.contains("match-star")) {
                        revealStar("match-button-empty-" + volunteerId, "match-button-filled-" + volunteerId);
                        if (e.target.id === "match-button-empty-" + volunteerId) {
                            matchingActions(volunteerId, "create");
                        } else if (e.target.id === "match-button-filled-" + volunteerId) {
                            matchingActions(volunteerId, "delete");
                        } else {
                        }
                    } else {
                        cardContainer.setAttribute('data-bs-toggle', 'modal');
                        let cardBody = document.getElementById("card-body-" + volunteerId);
                        cardBody.click();
                    }
                    cardContainer.removeAttribute('data-bs-toggle');
                })
            }
            matchingManagement({{volunteer.id }});
        {% endfor %}
    </script>
{% endblock %}
